
<div class='searchresult'>
    <img class='headshot' src= {{player.stats.image}}>
    <p class='playername'>{{player.stats.name}}</p>
    <p class='playernumber'{{player.stats.number}}</p>
    <p class='playerteam'{{player.stats.team}}</p>

    <form action='/user/{{currentUser._id}}?_method=PUT' method='POST'>
      <p class='input-field'>
        <input type="hidden" name="playerName" value="{{player.id}}">
        <input class='addto' type='submit' value='Add To Team'>
      </p>
    </form>

</div>
