
<div class='searchresult'>
    <img class='headshot'{{Basketball.image}}>
    <p class='playername'>{{Basketball.name}}</p>
    <p class='playernumber'{{Basketball.number}}</p>
    <p class='playerteam'{{Basketball.team}}</p>

    <form action='/user/{{currentUser._id}}?_method=PUT' method='POST'>
      <p class='input-field'>
        <input type="hidden" name="playerName" value="{{player.id}}">
        <input class='addto' type='submit' value='Add To Team'>
      </p>
    </form>

</div>
