
<div class='searchresult'>
  {{#if player}}
    <table>
        <tr>

            <th> Name</th>
            <th>Position</th>
            <th>Number</th>
            <th>PPG</th>
        </tr>
        {{#each player}}
            <tr>

                <td>

                <img class="someClass" src="{{info.image}}"></td>

                <td>{{info.name}}</td>
                <td>{{info.position}}</td>
                <td>{{info.number}}</td>
                <td>{{info.points}}</td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <h3>That Player Does Not Exist</h3>
{{/if}}
      <!-- <p class='input-field'> -->
        <!-- <input type="hidden" name="playerName" value="{{player}}"> -->
<form action='/user/{{currentUser._id}}?_method=PUT' method='POST'>
        <input class='addto' type='submit' value='Add To Team'>

      <!-- </p> -->
    </form>

</div>
