
<div class='searchresult'>
  <img class='headshot' src = {{player.info.image}}/>
  <p class='playername'>Name: {{player.info.name}}</p>
  <p class='playernumber'> Number:{{player.info.number}}</p>
  <p class='playerteam'>Team: {{player.info.team}}</p>
    <form action='/user/{{currentUser._id}}?_method=PUT' method='POST'>
      <p class='input-field'>
        <input type="hidden" name="playerName" value="{{player._id}}">

        <input class='addto' type='submit' value='Add To Team'>

      </p>
    </form>

</div>
