<div class = 'search'>
<p class='playerfirstname'>{{basketball.player.firstName}}</p>
<p class='playerlastname'>{{basketball.player.lastName}}</p>
<p class='playerid'>{{basketball.player.playerID}}</p>
<p class='playerteam'>{{basketball.player.teamID}}</p>
<form action='/user/{{currentUser._id}}?_method=PUT' method='POST'>
  <p class='input-field'>
    <input type="hidden" name="playerID" value="{{player._id}}">
    <input class='addto' type='submit' value='+ to Team'>
  </p>
</form>

  <p class='or'>Or</p>

  <p class='pagelinkparent'><a class='pagelink pagelinkshow' href='/basketball/new'>Go Back</a></p>
</div>
