<!--
    {{#each player}}
        <tr>

            <td><img class="someClass" src="{{info.image}}"></td>
            <td>{{info.name}}</td>
            <td>{{info.position}}</td>
            <td>{{info.number}}</td>
            <td>{{info.points}}</td>
        </tr>
    {{/each}}
</table> -->


<div class = 'card'>

  <img class='headshot' src={{info.image}}>
  <div class = 'stats'>
  </div>
</div>
