<div class = 'card'>
  <img class='headshot' src={{info.image}}>
  <div class = 'stats'>
    <ul>
        <li>Name: {{info.name}}</li>
        <li>Team: {{info.team}}</li>
        <li>Position: {{info.position}}</li>
        <li>Number: {{info.number}}</li>
        <li>PPG(2017-18): {{info.points}}</li>
    </ul>
  </div>
</div>
