<div class="card">
  <div class="card-content">
    <a class="card-title" href="/basketball/{{id}}">
      {{ content }}
      {{player}}
    </a>
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="">{{ author.local.username }}</a>

  </div>
</div>
